.main-screen
{
    position: relative;
}

.formbox
{
   color: grey;
   font-weight: 600; 
   font-size: 20px;
   border: 1px solid black;
   background-color: #F8F8FF;
   width: 35em;
   position: absolute;
   top: 80px;
   border-radius: 10px;
   -webkit-box-shadow: 4px 14px 19px 8px rgba(0,0,0,0.75);
   -moz-box-shadow: 4px 14px 19px 8px rgba(0,0,0,0.75);
   box-shadow: 4px 14px 19px 8px rgba(0,0,0,0.75);
   
}
h2
{
    padding-left: 60px;
    padding-top: 30px;
}
h4
{
    font-size: 14px;
    color: #F65757;
}
.form
{
    margin: 3em;
}
input
{
    margin: 2em;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    text-align: center;
}
.email
{
    width: 20em;
    height: 3em;
}
.password
{
    height: 3em;
    width: 20em;
}
.buttonBox
{
    width: 22em;
    display: flex;
    justify-content:space-between;
}
.button
{
    background-color: #F65757;
    color: white;
    padding: 10px;
    width: 200px;
    margin: 0;
}

